node_modules/
venv/
Bad_Image_Finder.py
Bad_Image_Finder_v2.py
Image_Converter.py
Image_Converter_ii.py
Image_Converter_iii.py
button-movement-module(DELETE).js
TEST(DELETE).js
violence_detector_model_v2.keras
violence_model.py
violence-detection-training.pyviolence_detector_model_v2.keras
config/