#overlay {
  position: fixed; /* Position it fixed over the entire screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.966); /* Semi-transparent black background */
  z-index: 1000; /* Ensures the overlay is above other elements */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace; /* Monospace font stack */
  
}

#overlayContent {
  text-align: center;
  /* Optional: Additional styling for the content box like padding, background, etc. */
  /* Example: */
  padding: 20px;
  background-color: #F2EAD3;
  border-radius: 10px;
  border: 4px solid #FDD2BF;
  background-image: url('/graphic-assets/Gameplay-UI-Final.png');
/* Set background size */
background-size: cover; /* Cover the entire element */
/* Set background position */
background-position: center; /* Center the background image */
border-radius: 75px;
animation: border-color-animation 4s infinite; 

}

@keyframes border-color-animation {
  0% {
      border-color: #A34A28; /* Red */
  }
  25% {
      border-color: #F58B54; /* Green */
  }
  50% {
      border-color: #DFDDC7; /* Blue */
  }
  75% {
      border-color: #D1F5D3; /* Magenta */
  }
  100% {
      border-color: #FDD2BF; /* Red (repeat) */
  }
}

#playDefault {
  /* Set the background image */

padding: 10px 20px;
margin: 10px;
font-size: 16px;
cursor: pointer;
color: #fff;
background-color: #151515;
border-radius: 75px;
height: 70px;
top: -12px; 
position: relative;


}

.uploadButton {
  padding: 10px 20px;
margin: 10px;
font-size: 16px;
cursor: pointer;
color: #fff;
background-color: #151515;
border-radius: 75px;
}

.main-text {
  font-size: 16px; /* Set the font size for the main text */
}

.subtext {
  font-size: 9px; /* Set the font size for the smaller text */
}

#confirmButton{
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  background-color: #151515;
  border-radius: 75px;
  height: 70px;
  position: relative;
  left: 310px;
  
  
}

#retryButton{
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  background-color: #151515;
  border-radius: 75px;
  height: 70px;
  position: relative;
  left: 270px;
  
  
}

.menu-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.Instructions {
    text-align: center;
  
    background-color: #F2EAD3;
    background-image: url('/graphic-assets/Game-Instructions.png');
    background-size: cover;
    background-position: center;
    padding-bottom: calc(720 / 1280 * 100%);/* Maintain 16:9 aspect ratio (9 / 16 * 100) */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 4px solid #FDD2BF;
    border-radius: 7px;
    
    
  }





body {
  background-color: black;
}

.game-container {
  width: 100%;
  max-width: 1280px; /* Maximum width for larger screens */
  height: calc(100vw * (720 / 1280)); /* Calculate height based on the width to maintain aspect ratio */
  max-height: 720px; /* Maximum height to match the maximum width */
  margin: auto;
  position: relative;
  border: 5px solid rgb(224, 224, 224);
  overflow-y: auto;  
  overflow-x: hidden; 
  background-position: center;
  box-sizing: border-box; /* Include padding and border in the width and height */
}

/* Adjustments for tablets (e.g., iPads) */
@media (max-width: 1024px) {
  .game-container {
      max-width: 800px; /* Reduced max-width */
      height: calc(100vw * (450 / 800)); /* Adjust height relative to the new width */
      max-height: 450px;
  }
}

/* Adjustments for smaller tablets and large phones */
@media (max-width: 768px) {
  .game-container {
      max-width: 600px;
      height: calc(100vw * (338 / 600)); /* Adjust height relative to the new width */
      max-height: 338px;
  }
}

/* Adjustments for small phones */
@media (max-width: 480px) {
  .game-container {
      max-width: 320px;
      height: calc(100vw * (180 / 320)); /* Adjust height relative to the new width */
      max-height: 180px;
  }
}




.game-background {
  background-image: url('/graphic-assets/Background.png');
  width: 1280px;
  height: 550px;
 
}

.Gameplay-UI{
  background-image: url('/graphic-assets/Gameplay-UI-Final.png');
  width: 1280px;
  height: 170px;
}

.countdown{
  color: white;
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.Main_Character {
  background-image: var(--main-character-bg); /* Use the CSS variable */
  height: 300px;
  width: 374px;
  background-repeat: no-repeat;
  background-size: cover; /* Ensure the image covers the entire element */
  background-position: center; /* Center the background in the element */
  position: absolute;
  transform: translate(110%, -156.8%);
}



.console {
  background-image: url('/graphic-assets/Console.png');
  width: 698px;
  height:297px;
  background-repeat: no-repeat; 
  transform: translate(43%, -90%);

}



  @keyframes vibrate {
    0% { transform: translate(0, 0); }
    20% { transform: translate(-2px, -2px); }
    40% { transform: translate(2px, 2px); }
    60% { transform: translate(-2px, -2px); }
    80% { transform: translate(2px, 2px); }
    100% { transform: translate(0, 0); }
  }

  .moveUpAnimation1{
    animation: moveUpAnimationKeyFrame1 .07s ease-in-out;
    }

  .moveUpAnimation2{
      animation: moveUpAnimationKeyFrame2 .07s ease-in-out;
    }

  .moveUpAnimation3{
        animation: moveUpAnimationKeyFrame3 .07s ease-in-out;
    }

  .moveUpAnimation4{
          animation: moveUpAnimationKeyFrame4 .07s ease-in-out;
    }
  
  @keyframes moveUpAnimationKeyFrame1 {
    0% {
      transform: translate(662%, 736%);
    }
    100% {
      transform: translate(662%, 700%);
    }
  }
  
  @keyframes moveUpAnimationKeyFrame2 {
    0% {
      transform: translate(830%, 736%);
    }
    100% {
      transform: translate(830%, 700%);
    }
  }

  @keyframes moveUpAnimationKeyFrame3 {
    0% {
      transform: translate(1000%, 736%);
    }
    100% {
      transform: translate(1000%, 700%);
    }
  }

  @keyframes moveUpAnimationKeyFrame4 {
    0% {
      transform: translate(1170%, 736%);
    }
    100% {
      transform: translate(1170%, 700%);
    }
  }


  .fader1 {
    background-image: url('graphic-assets/Studio-Faders/Fader-1.png');
    position: absolute;
    width: 66px;
    height: 80px;
    transform-origin: center center;
    transform: translate(662%, 736%);
    z-index: 2;
     }

  .fader2{
    background-image: url('/graphic-assets/Studio-Faders/Fader-2.png');
    position: absolute;
    width: 66px;
    height: 80px;
    transform-origin: center center;
    transform: translate(830%, 736%);
    z-index: 2;
  }

  .fader3{
    background-image: url('/graphic-assets/Studio-Faders/Fader-3.png');
    position: absolute;
    width: 66px;
    height: 80px;
    transform-origin: center center;
    transform: translate(1000%, 736%);
    z-index: 2;
  }

  .fader4{
    background-image: url('/graphic-assets/Studio-Faders/Fader-4.png');
    position: absolute;
    width: 66px;
    height: 80px;
    transform-origin: center center;
    transform: translate(1170%, 736%);
    z-index: 2;
  }
  

  #health-bar {
    position: absolute;
    transform: translate(10%, -50%);
    z-index: 3;
  }
  
  #death-bar {
    position: absolute;
    transform: translate(280%, -50%);
    z-index: 3;
    
  }
  

   .enemies {
    background-image: url('/graphic-assets/enemy-main.png');
    position: absolute;
    width: 64px;
    height: 64px;
    overflow: hidden;
    /*background-color: red;*/
  }

  .game-over-pic {
    background-image: url('/graphic-assets/game-over-graphic.png');
    position: absolute;
    width: 620px;
    height: 320px;
    overflow: hidden;
    /*transform: translate(280%, 100%);*/
    /*z-index: 4;*/
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .overlay h2 {
    margin-bottom: 10px;
  }
  
  .overlay input {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .overlay button {
    padding: 8px 16px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
  }

  .Game-Title {
    background-image: url('/graphic-assets/Game-Title-Header-Pic.png');
    width: 800px;
    height: 100px;
    background-size: cover;
  }
  
  #spacer-i{
    height:35px;
  }

  .clientImgBorder{
    /*  border: 4px solid #EF962D; / */
    background-color: #fff; /* Background color */
    display: flex;
  justify-content: center; /* Center the content horizontally */
  width: 50%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the element horizontally */
  padding: 20px; /* Optional padding */
  box-sizing: border-box; /* Include padding and border in the total width */
  border-radius: 75px;
  animation: bounceIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  }

  .User_Pic_Upload{
      display: flex;
      justify-content: center; /* Center items horizontally */
      align-items: center; /* Center items vertically */
      position: relative;
  } 
    
      #loadingIndicator {
        display: none;
        position: fixed; /* Fixed position */
        top: 50%; /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%); /* Adjust the position to truly center it */
        z-index: 1000; /* Make sure it's on top of other content */
    }
    
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #9DC6A7; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    
  

  